**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production
**/node_modules
**/build
**/dist
**/.cache
**/.git
**/.idea
**/.vscode
**/.DS_Store
**/npm-debug.log*
**/*.md
**/LICENSE
**/Dockerfile
**/Docker/
**/docker-compose*
**/.dockerignore
**/.gitignore